@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #553d67;
  font-family: "Recursive", sans-serif;
  color: #f64c72;
}

.App {
  height: 600px;
  width: 80%;
  background-color: #242582;
  margin: auto auto;
  border-radius: 5%;
}

.mainBody {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

h1 {
  text-align: center;
}

input {
  border: none;
  height: 42px;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 17px;
  border-radius: 5%;
}

input:focus {
  outline: none;
}

button {
  height: auto;
  width: auto;
  background-color: transparent;
  border: none;
  border-radius: 20%;
  font-size: 18px;
  font-weight: 700;
  color: #f64c72;
  cursor: pointer;
}

button:hover {
  text-shadow: 2px 2px #888;
}

button:focus {
  outline: none;
}
