.variableConverter {
    margin-left: 5px;
    height: 100%;
    width: 50%;
   
}

.converterTitle {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10%;
}

.conversionDisplay {
    margin-top: 50px;
    font-size: 20px;
}